---
const currentYear = new Date().getFullYear();
---
<footer class="bg-neutral py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center text-white">
      <p class="text-sm">© {currentYear} CompHare. All rights reserved.</p>
    </div>
  </div>
</footer>
